# GIT IGNORE OPTIONS:
# State and list which files in the repository to ignore.
# This is useful for ignoring large files that you don't want to be part of the repository.
# The files are ignored in the repository and not pushed to source control.

**/.DS_Store

# Hauler build artifacts
**/store/
**/amd64/
**/arm64/
**/*-store/
*.tar.zst
*.tar.gz
*.tar
hauler/k3s/*
hauler/ess-helm/*
hauler/helm/*

# Temporary files
/tmp/
*.tmp