# GIT IGNORE OPTIONS:
# State and list which files in the repository to ignore.
# This is useful for ignoring large files that you don't want to be part of the repository.
# The files are ignored in the repository and not pushed to source control.

**/.DS_Store

# Hauler build artifacts
**/store/
**/amd64/
**/arm64/
**/*-store/
*.tar.zst
*.tar.gz
*.tar


hauler/k3s/registry/*
hauler/ess-helm/registry/*
hauler/helm/registry/*
hauler/k3s/k3s-store/
hauler/ess-helm/ess-store/
hauler/helm/helm-store/
hauler/k3s/fileserver/
hauler/ess-helm/fileserver/
hauler/helm/fileserver/

# But keep the manifests and READMEs
!hauler/k3s/*.yaml
!hauler/k3s/*.md
!hauler/ess-helm/*.yaml
!hauler/ess-helm/*.md
!hauler/helm/*.yaml
!hauler/helm/*.md

# Temporary files
/tmp/
*.tmp